@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

main {
  max-width: 768px;
  margin: 1em auto;
  padding: 0 20px;
}

@layer components {
  .title {
    @apply font-bold tracking-tight;
  }

  h1 {
    @apply text-3xl title mb-5 text-center;
  }

  h2 {
    @apply text-2xl title mb-4;
  }

  h3 {
    @apply text-xl title mb-3;
  }

  hr {
    @apply block border border-gray-200 mb-4;
  }

  section {
    @apply my-5;
  }

  button {
    @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
  }

  .card {
    @apply bg-gray-100 block p-6 rounded-lg;
  }

  .card-link {
    @apply card hover:bg-gray-200;
  }

  .card__p {
    @apply font-normal;
  }

  .card__footer p {
    @apply mt-4 text-sm text-gray-600;
  }

  .link {
    @apply hover:underline;
  }
}
