@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 18px;
}

main {
  max-width: 768px;
  margin: 1em auto;
  padding: 0 20px;
}

@layer components {
  .title {
    @apply text-4xl font-bold my-5;
  }

  .card {
    @apply bg-gray-100 block p-6 rounded-lg;
  }

  .card-link {
    @apply card hover:bg-gray-200;
  }

  .card__title {
    @apply mb-2 text-2xl font-bold tracking-tight;
  }

  .card__p {
    @apply font-normal;
  }

  .card__footer p {
    @apply mt-4 text-sm text-gray-600;
  }

  .link {
    @apply hover:underline;
  }
}
