---
import Layout from '../layouts/BlogPost.astro';
import SocialLink from '../components/SocialLink.astro'
---

<Layout
title="About Me"
description="Lorem ipsum dolor sit amet"
pubDate={new Date('March 07 2024')}
heroImage="/images/about-hero.png"
>

<p>Spigi is a software engineering student from Peru with a passion for computers and art. He enjoys using his coding skills to solve problems and is always looking for ways to improve his abilities. When not in front of a computer, Oliver enjoys reading books, going to the gym, competitive programming, and drawing. He is driven and dedicated to his studies and is eager to put his skills to use in the field of software engineering.</p>

<section>
  <h2>Links</h2>
  <SocialLink/> 
</section>


</Layout>
