---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostList from '../components/PostList.astro';
import PostCard from '../components/PostCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
      <main>

        <div class="flex flex-row gap-0 ">

          <div class="basis-1/2">
            <h1 class="title text-5xl leading-tight">Bonjour and welcome to my humble blog :)</h1>
            <p>In this little space of the internet I will be sharing my knowledge and points of view on various topics that I am passionate about</p>
          </div>
          <div class="basis-1/2 polygon-shape px-5 bg-gray-400"></div>
        </div>


        <a href="/about" class="card-link my-14 mx-6">

          <h5 class="card__title">Hi, I'm spigi</h5>
          <p class="card__p">I'm a software engineer from Peru with a passion for art, gaming, books and of course technology.
</p>
        </a>
        <PostList/>
      </main>
      <Footer />
  </body>
</html>

<style>
  .polygon-shape {
    clip-path: polygon(4% 11%, 87% 0, 100% 54%, 70% 100%, 16% 94%, 0% 50%);
  }
</style>
