.header__link {
  @apply hover:underline underline-offset-2 decoration-primary;
  text-decoration-thickness: 0.1em;
}

.hero__shape {
  clip-path: polygon(5% 0, 100% 5%, 90% 89%, 10% 100%, 0 50%);
}

.divider {
  width: 100%;
  height: 0.1em;
  @apply bg-gray-600;
}
