---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { FaYoutube } from "react-icons/fa";
import ReviewsNav from "./ReviewsNav";
---

<header>
  <nav class="">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex gap-5">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <ReviewsNav client:load />
    </div>
    <div class="social-links flex gap-5">
      <HeaderLink class="font-bold" href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
<style>
  @reference "../styles/global.css";

  header {
    margin-bottom: 2rem;
    padding: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0.3rem 0;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    @apply border-primary;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
