---
import PostCard from '../components/PostCard.astro'
import Post from '../models/Post'

interface Props {
  title?: string,
  posts: Post[]
}

const { posts, title} = Astro.props;

---

{ title && 
  <h2 class="h2 first-letter:uppercase">
  { title } 
  </h2>
}

<div class="flex flex-col gap-5">
  {
  posts.map((post) => (
  <div>
    <hr/>
  <PostCard post={post} />
  </div>
  ))
  }
</div> 
