---
import { FaGithubAlt } from "react-icons/fa6";
---


<button>
<a href="https://github.com/oliverTuesta" class="flex gap-2 items-center" target="_blank">
  <span class="sr-only">Go to my GitHub repo</span>
  <!--<FaGithubAlt />-->
              Github
</a>
</button>
