---
import MainLayout from "../../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BookList from "../../components/BooksList.astro";

const books: CollectionEntry<"books">[] = (await getCollection("books")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <h1 class="mb-10">Books</h1>
  <BookList posts={books} />
</MainLayout>
